<header class="l-header v-center-parent">
  <img routerLink="home" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="" class="v-center">
  <ul class="top-menu disable-link-styles">
    <li><a routerLink="" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="courses" routerLinkActive="menu-active">Courses</a></li>
    <li><a>Login</a></li>
    <li><a>Register</a></li>
    <li><a>Logout</a></li>
  </ul>
</header>
